* {
    font-family: "Montserrat";
}

body {
    background-color: white !important;
}

/* Footer & Header Style */

.logo-fs {
    height: 100px;
    width: 200px;
}

.nav-link:hover {
    background-color: #ADACA9;
    color: azure;
}

.nav-item {
    font-size: larger;
}

footer {
    background-color: #ADACA9;
    padding-top: 20px;
}

ul {
    list-style: none;
}

.footerSocialMedia {
    height: 50px;
    width: 50px;
}

/* -------------------- */

/* Index Main */

.videoContainer {
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
    background-color: transparent;
}

.videoContainer iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    margin-top: 0;
}

.tituloPrincipal {
    font-family: "Montserrat";
    font-weight: 500;
    font-style: normal;
    text-align: center;
}

.tituloSecundario {
    font-family: "Montserrat", cursive;
    font-weight: 400;
    font-style: bold;
    text-align: center;
    padding-top: 10px
}

.card-image {
    height: 200px;
    width: 150px;
    border-radius: 20%;
    border: 1px solid black;

}

/* .card-image:hover {
    height: 210px;
    width: 160px;
} */

.card {
    border: none;
    justify-content: space-around;
}

.certificaciones {
    padding: 20px 0px 20px 0px;
    border: 1px solid grey;
}

.cardImageCert {
    height: 150px;
    width: 250px;
    padding-top: 10px;
}

/* Contacto */
.enviarFormulario {
    padding: 20px 12px 20px 12px;
}

.formulario {
    border-right: 1px solid black;
    align-items: center;
    justify-content: center;
}

.form-label {
    padding-top: 10px;
    margin-bottom: 3px;
}

.medioImg {
    max-height: 40px;
}

/* Productos */
.informacionProductos {
    text-align: center;
}

/*Mercados*/
.flag {
    max-width: 150px;
    max-height: 100px;
    margin-left: auto;
    margin-right: auto;
}

.nombrePais {
    text-align: center;
    padding: 0, 0, 0, 0 ;
}